@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';
@import 'custom.css';

.fa-medium-x {
  font-size: 1.5em;
}

.clearfix::after {
  display: block;
  clear: both;
  content: ""
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.form-input {
  line-height: 2;
}

a:hover {
  cursor: pointer;
}